// place your custom styles here
.vp-hero-infos #main-title {
    color: white;
}

.vp-hero-infos .vp-description {
    font-weight: bolder;
    font-size: 30px;
}

#navbar {
    background: rgb(0, 0, 0)
}
// .vp-back-to-top-button .vp-scroll-process {
//     color: 
// }

.nav-item .dropdown-wrapper .nav-dropdown {
    background: black
}