// place your custom styles here
.vp-hero-infos #main-title {
    color: white;
}

.vp-hero-infos .vp-description {
    font-weight: bolder;
    font-size: 30px;
}

#navbar {
    background: rgb(0, 0, 0)
}
// .vp-back-to-top-button .vp-scroll-process {
//     color: 
// }

.nav-item .dropdown-wrapper .nav-dropdown {
    background: black
}

.vp-feature h2.vp-feature-header {
    color: white;
    font-weight: bolder;
}

.vp-feature p.vp-feature-description {
    color: white;
    font-weight: bolder;
}

.vp-feature .vp-features .vp-feature-title {
    color: white;
    font-weight: bolder;
}
.vp-feature .vp-features .vp-feature-details {
    color: white;
    font-weight: bolder;
}

.vp-highlight-info-wrapper .vp-highlight-info h2.vp-highlight-header {
    color: white;
    font-weight: bolder;
}

.vp-highlight-info-wrapper .vp-highlight-info .vp-highlight-description {
    color: white;
    font-weight: bolder;
}

.vp-highlights .vp-highlight-title {
    color: white;
    font-weight: bolder;
}

.vp-highlights .vp-highlight-details {
    color: white;
    font-weight: bolder;
}

.vp-highlight-wrapper .vp-highlight .vp-highlight-info-wrapper .vp-highlight-info h2.vp-highlight-header p {
    background-color: rgba(0, 0, 0, 0.8);
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 40px;
    max-width: 3000px;
    margin: 50px auto;
}

.vp-highlight-wrapper .vp-highlight .vp-highlight-info-wrapper .vp-highlight-info .vp-highlight-title {
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    max-width: 3000px;
    margin: 5px auto;
}

.vp-feature-wrapper .vp-feature h2.vp-feature-header {

    background-color: rgba(0, 0, 0, 0.8);
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 40px;
    max-width: 700px;
    margin: 50px auto;
}

.vp-feature-wrapper .vp-feature .vp-feature-description {
    background-color: rgba(0, 0, 0, 0.4);
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 40px;
    max-width: 300px;
    margin: 60px auto;
}