// place your custom styles here
.vp-hero-infos #main-title {
    color: white;
}

.vp-hero-infos .vp-description {
    font-weight: bolder;
    font-size: 30px;
}

// .vp-back-to-top-button .vp-scroll-process {
//     color: 
// }